[Unit]
Description=Auth API service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart= /microservice-app-example/auth-api


[Install]
WantedBy=multi-user.target